.start{
    margin-top: 200px;


}

body{
    background-color: green;
    direction: rtl;
    text-align: center;
}

h2{
    font-size: 28px;
    color: white;
    font-weight: bold;
}

.all   {
    margin-right: 15%;
    margin-left: 15%;
}

.par{
    font-size: 22px;
    word-spacing: 1px;
    color: #aa050e;
    font-weight: bold;

  
}
